<!DOCTYPE html>
<html  lang="pt-br" xmlns="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{/css/estilo.css}" rel="stylesheet" />
		
		<title>East Computer Soluções em Informática</title>
	</head>
	<body>

		<div id="holder">
<!--cabeçalho-->
<nav class="navbar">
		<div id="header">
logo e informacoes principais da east computer<br>
<!--links de topo-->
			<a href="#" class="botaosanduiche" id="botaosanduiche">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>	
			</a>

			<div class="secaobotoescabecalho">
			
				<div class="botoescabecalho"><a class="textobotoescabecalho" href="Produtosdomesticos.html">Para casa</a></div>
				<div class="botoescabecalho"><a class="textobotoescabecalho" href="Produtosempresariais.html">Para trabalho</a></div>
				<div class="botoescabecalho"><a class="textobotoescabecalho" href="Suporte.html">Suporte</a></div>
				<div class="botoescabecalho"><a class="textobotoescabecalho" href="custom.html">Especiais</a></div>
				<div class="botoescabecalho" onclick="trocartema()"><a class="textobotoescabecalho">trocar tema</a></div>
			</div>
		</div>
</nav>
<!--essas quebras são necessárias por enquanto para manter o layout-->
<br><br><br><br><br><br><br><br>
<!--fim cabeçalho-->

<!--conteúdo-->

Atualizar cadastro de CPU<br>
<div id="cadcliente">
<th:block th:include="mensagemValidacao"></th:block>
<form method="post">
<input type="hidden" name="idcpu" th:attr="value = ${cpu.idcpu}" required><br>

<br><br>informações comerciais<br><br>
Preço: 
<input type="number" name="preco" th:attr="value = ${cpu.preco}" required><br>
Estoque:
<input type="number" name="estoque" th:attr="value = ${cpu.estoque}" required><br>

<br><br>outras informações<br><br>

Fabricante:
<input type="text" name="fabricante" th:attr="value = ${cpu.fabricante}" required><br>
Nome: 
<input type="text" name="nome" th:attr="value = ${cpu.nome}" required><br>
Socket: 
<input type="text" name="socket" th:attr="value = ${cpu.socket}" required><br>
frequência Stock: 
<input type="text" name="frequencia" th:attr="value = ${cpu.frequencia}" required><br>
Turbo: 
<input type="text" name="turbo" th:attr="value = ${cpu.turbo}" required><br>
Chipsets: 
<input type="text" name="chipsets" th:attr="value = ${cpu.chipsets}" required><br>
Quantidade de Núcleos + threads: 
<input type="number" name="qtdnucleos" th:attr="value = ${cpu.qtdnucleos}" required><br>
Tipo de memória Ram Suportado: 
<input type="text" name="tiporam" th:attr="value = ${cpu.tiporam}" required><br>
Site de referência da cpu(opcional): 
<input type="text" name="sitereferencia" th:attr="value = ${cpu.sitereferencia}"><br>
<br><br><center>
<input type = "submit" name="enviar" value = "Atualizar CPU" >
</center>
</form>
<a href="/"><input type="button" id="volta" name="volta" value="voltar"></a>
</div>


<!--rodapé-->
<br><br><br><br><br><br><br><br><br><br><br><br><br>
		<footer id="footer">
			<div class="divisoesrodape">informacoes de contato e endereco</div>
			<div class="divisoesrodape">links seções do site</div>
			<div class="divisoesrodape">Links sites terceiros</div>
			<div class="divisoesrodape">outros</div>
		</footer>

<!--fim rodapé-->
	</div>
<!--scripts-->
		<script th:href="@{/javascript/main.js}"></script>
<!--fim scripts-->
	</body>
</html>